SERVER_PORT=8080
DB_HOST=localhost
DB_PORT=3306
DB_NAME=iot_system
DB_USER=root
DB_PASSWORD=

# Mosquitto and Spring Boot run on the same machine.
MQTT_HOST=127.0.0.1
MQTT_PORT=1235
MQTT_CLIENT_ID=spring-backend-iot
MQTT_USERNAME=nguyentrungkien
MQTT_PASSWORD=b23dccn464
